body {
  background-color: blue;
  color: blue;
}
.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  height:auto;
 padding:40px 50px;
  background-color:#fff;
display:table;
}
.footer
{
  height:200px;
  text-align:center;
  color: white;
}

.quote-text
{
  color:blue;
  height:100px;
  text-align:center;
   font-weight:500;
    font-size:1.50em;
}
.text
{
  font-size:25px;
}
.author
{

  font-size:20px;
}
.button {
  margin-top:60px;
    background-color: blue;
  color: white;
  border-radius: 8px;  
  padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
  
}
.button:hover {
    background-color:#000090; /* Green */
    color: white;
}
#tweet-quote
{
  margin-top:60px;
  margin-right:250px;
  background-color: blue;
  color: white;
  border-radius: 8px;  
  padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
}
#new-quote
{
  float:right;
}
